/* css styling for slideshow! */
body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

.slideshow-container {
    border: 5px solid #333;
    padding: 40px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.slide {
    font-size: 2rem; 
    font-weight: bold; 
    color: #007bff; 
    height: 100px;
}